body {
    background-color: white;
}





.hori {
    display: flex;
    flex-wrap: wrap;
    background-color: lightgray;
    background-image: url(gala.jpg);
    color:white;
    overflow: hidden;
    list-style-type: none;
    justify-content: space-between;
}
@media screen and (min-width: 1000px) {
    .hori {
        flex-direction: column;
        padding: 14px 16px;
        justify-content: flex-start;
        position: fixed;
    }
}


li {
    float: left;
    border-right: 1px solid white;
}
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: white;
    color: black;
}

.active {
    background-color: transparent;
}


.baa {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.flex-container {
    display: flex;
    align-items: baseline;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    
}
@media screen and (min-width: 600px) {
    .flex-container {
        flex-direction: row;
    }
}
@media screen and (max-width: 600px) {
    .flex-container {
        flex-direction: column;
        
        align-items: center;
        justify-content: center;
    }
}

/*.flex-container>div {
    max-width: 350px;
    
}*/
img {max-width:100%;}
@media screen and (max-width: 600px) {
    h2 {
        
        font-size: 15px;
    }
}

@media screen and (min-width: 600px) {
    h2 {
        font-size: 25px;
    }
}

#pic1 {
    width: 100%;
    height: 400px;
    background-image: url("pic1.jpg");
    background-size: cover;
        
}
#pic2 {
    width: 100%;
    height: 400px;
    background-image: url("pic2.jpg");
    background-size: cover;
        
}
#pic3 {
    width: 100%;
    height: 400px;
    background-image: url("pic3.jpg");
    background-size: cover;
        
}
#pic4 {
    width: 100%;
    height: 400px;
    background-image: url("pic4.jpg");
    background-size: cover;
        
}
 @media screen and (max-width: 600px) {
        #customers1 {
            
  width: 100%;
    margin-left: 120px;
        }
    }
 @media screen and (max-width: 600px) {
        #customers2 {
           
  width: 100%;
    margin-left: 120px;
        }
    }
 @media screen and (max-width: 600px) {
        #customers3 {
              
  width: 100%;
    margin-left: 120px;
        }
    }
 @media screen and (max-width: 600px) {
        #customers4 {
               
  width: 100%;
    margin-left: 120px;
        }
    }
@media screen and (min-width: 600px) {
    #customers1 {
        display: none;
    }
        
    }
@media screen and (min-width: 600px) {
    #customers2  {
        display: none;
    }
        
    }
@media screen and (min-width: 600px) {
    #customers3 {
        display: none;
    }
        
    }
@media screen and (min-width: 600px) {
    #customers4 {
        display: none;
    }
        
    }
    @media screen and (max-width: 600px) {
        #customers {
               display: none;
  width: 100%;
    margin-left: 120px;
        }
    }
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
    margin-left: 120px;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: darkslateblue;
  color: white;
}
#customers1 {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
    margin-left: 120px;
}

#customers1 td, #customers1 th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers1 tr:nth-child(even){background-color: #f2f2f2;}

#customers1 tr:hover {background-color: #ddd;}

#customers1 th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: darkslateblue;
  color: white;
}
#customers2 {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
    margin-left: 120px;
}

#customers2 td, #customers2 th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers2 tr:nth-child(even){background-color: #f2f2f2;}

#customers2 tr:hover {background-color: #ddd;}

#customers2 th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: darkslateblue;
  color: white;
}
#customers3 {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
    margin-left: 120px;
}

#customers3 td, #customers3 th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers3 tr:nth-child(even){background-color: #f2f2f2;}

#customers3 tr:hover {background-color: #ddd;}

#customers3 th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: darkslateblue;
  color: white;
}
#customers4 {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
    margin-left: 120px;
}

#customers4 td, #customers4 th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers4 tr:nth-child(even){background-color: #f2f2f2;}

#customers4 tr:hover {background-color: #ddd;}

#customers4 th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: darkslateblue;
  color: white;
}